.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  padding-left: 48px;
  vertical-align: top;
}

.khan__buy-link:hover {
  color: crimson;
  opacity: 0.5;
  transition: ease-out 1s;
}
